<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for article" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<body>
  <div *ngFor="let a of articles">
    <h2><u>{{a.title}}</u></h2>
    <h4><span>Author: </span>{{a.author}}</h4>
    <p>{{a.publishedAt}}</p>
    <p wa>{{a.description}}</p>
    <a href="{{a.url}}">Read more </a><fa-icon  [icon]="faArrowCircleRight"></fa-icon>
    <hr>
  </div>
</body>